<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

	<link rel="stylesheet" href="../CSS/styles.css">
</head>
<body>
	<section class="header container">
		<div class="content">
			<h1>Finque</h1>
		</div>
		<div class="menu __flex __cols">
		<div class="searachbox">
			<input type="text" name='search'>
		</div>
		<ul class="container">
				<li><a href="">Home</a></li>
				<li><a href="">Contact Us</a></li>
				<li><a href="">Abouts Us</a></li>
			</ul>
		</div>
	</section>
	
	<section class="main">
		<div class="carousel-section">
				<!--This will conssist of some carousels to be displayed with animations -->
		</div>

		<div class="userPanel">
			<h1><%= msg %></h1>
			<h2>Lee Parker</h2>		<!--This Section will be used to display user information-->
			<div class="new-applicants-container">
					<!---New applicants to be here with small different cards  use for each-->
			
			</div>
		</div>

		<div class="applicants-view">
			<h1>New Arrivals</h1>		<!--This Section will be use to display all the applicants information-->

		</div>
	</section>
	<section class="footer">

	</section>
</body>
</html>
