<div class="form-content">
    <div class="img-container">
      <img src="../Images/login.jpg" alt="an image of women">
      </div>
      <div class="login">
        <h2>Login</h2>
        <input type="text" placeholder="Enter Email ">
        <input type="password" placeholder='Enter Password'>    
        <button>Login</button>
      </div>
    
</div>
