
<form class="form-content" action="/" method="POST">
	<div class="img-container">
		<img src="../Images/signup.jpeg" alt="Four guys sitting together working">
	</div>
	<div class="data-container">
		<input type="text" name="fname" placeholder="Enter your first name">
		<input type="text" name="lname" placeholder="Enter your last name">
		<input type="email" name="umail" placeholder="Enter your email">

		<button class='frm-btn'>Sign up</button>
	</div>
</form>
