<%- include('header'); %>
	<section class="container contact">
		<form action="mailto:leeparker0910@gmail.com" method="post" enctype='text/plain'>
			<div class="name __flex __cols">
				<label for="name">Enter Your Name</label>
				<input type="text" name='name'>
			</div>
			<div class="message">
				<textarea  name="usrMessage" cols="30" rows="10">Enter Your Message</textarea>
			</div>
			<button>Submit</button>
		</form>
	</section>

<%- include('footer'); %>

