<form action='/home' method='POST' class="form-content">
    <div class="img-container">
      <img src="../Images/login.jpg" alt="an image of women">
      </div>
      <div class="login">
        <h2>Login</h2>
	<span class="err"><%=err %></span>
        <input type="text"     name="mail" required placeholder="Enter Email ">
        <input type="password" name="pwd" required placeholder='Enter Password'>    
        <button name='btn' value='home'>Login</button>
      </div>
    
</form>
