
<form class="form-content" action="/home" method="POST">
	<div class="img-container">
		<img src="../Images/signup.jpeg" alt="Four guys sitting together working">
	</div>
	<div class="data-container">
		<span class="err"><%=err %></span>
		<input type="text" name="fname"   required placeholder="Enter your first name">
		<input type="text" name="lname"   required placeholder="Enter your last name">
		<input type="email" name="email"  required  placeholder="Enter your email">
		<input type="password" name="pwd" required placeholder="Enter a password">
		<button name='btn' value='login'>Sign up</button>
	</div>
</form>
