@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800;900&display=swap');
:root{
/*   PRIMARY COLORS */
  --bg-color:#5cdb95;
  --blue:#05386B;
  --pal-green:#8EE4AF;
  --pal-green2:#52ab98;
/*   SECONDARY COLORS */
  --desaturated-grey:#c8de4;
  --white:#edf5e1;
  --desaturated-green:#379683;
  
/*   FONTS */
  --font:'Poppins', sans-serif;
}


*{
  padding:0;
  margin:0;
}
html , 
body{
	width:100%;
	height:100%;
}

/*COMMON selectors*/

body{
	box-sizing: border-box;
	font-family:var(--font);
	display:grid;
	grid-template-columns: 100px 1fr;
	grid-template-rows: 150px 1fr 80px;
	grid-template-areas: "header header"
	                     "content  content"
			     "footer footer";
}

li{
	list-style: none;
}

a{
	text-decoration: none;
	color:#000;
}
/*common classes*/
.__flex{
	display:flex;
}

.__cols{
	flex-direction: column;
	justify-content:center;
}
.container{
	display:flex;
	width:100%;
}

.header{
	flex-direction:row;
	justify-content:space-between;
	align-items: center;
	grid-area: header;
	background:var(--bg-color);
	position: fixed;
}

.header .content h1{
	font-size:5ch;
	color:var(--blue);	
}

.header .content h1{
	margin:2% 5%;
}

.header .menu{
	flex:0 1 25%;
	justify-content: center;
	align-items: center;
}

.header .menu ul li{
	margin:5% 2%;
}

/*content section*/
.main{
	grid-area: content;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 350px 1fr 50px;
	grid-template-areas:"admin admin admin"
			    "view view view " 
			    "link link link";
	
}	


.footer{
	grid-area:footer;
	background:var(--bg-color);
	justify-content: center;
	align-items: center;
	font-size: 2ch;
	font-weight: 800;
	color:var(--blue);

}

.userPanel{
	grid-area: admin;
	display:grid;
	grid-template-columns: 1fr .5fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas: "greetings greetings"
	                      "username userInfo"
			     "weather weather";
}

.userPanel h1{
	grid-area:greetings;
	color:var(--blue);
	font-size:3.5ch;
}

.userPanel h2{
	grid-area:username;
	font-size: 5ch;
	font-weight: 700;
}

.userPanel p{
	grid-area:userInfo;
}
.userPanel .weatherBox{
	grid-area: weather;
}


.main .view{
	grid-area:link;
	font-size:3ch;
	font-weight: 700;
	text-align: center;
}

.main .view a{
	color:var(--blue);
}

/*NEW APPLICANTS SECTION*/
.applicants-view{
	grid-area:view;
	text-align: center;
}
.applicants-section{
  flex-wrap:wrap;
  flex-direction:row;
  justify-content: center;
}
.applicant-card{
   width:30%;
   gap:15px;
   background:#5cdb95;
   border:none;
   border-radius:15px;
   box-shadow:0 1px 10px 1px ;
   transition: width 1s ,height 2s,linear 1s;
   margin:2%;
   padding:9px;
}

.img-holder{
  justify-content:center;
  align-items:center;
  margin:0 2%;
}

.img-holder img{
  width:65px;
  border-radius:50%;
}

.applicant-card .info{
  width:100%;
  height: auto;
}

.applicant-card .info h1{
  text-decoration:underline white;
}

.applicant-card .info p{
  font-size: 2ch;
  padding: 5px;
  display:none;
  transition:ease;
}

/*CONTACT US PAGE*/
.contact{
	grid-area:content;
	display:grid;
	grid-template-columns: 70% 10%;
	grid-template-rows: 100%;
	grid-template-areas: "form social-list";
	justify-content: space-between;
}

.contact form{
	grid-area:form;
	width:50%;
	max-height:auto;
	background:var(--white);
	border-radius: 15px;
	box-shadow:  0px 1px  10px 1px;
	margin:auto;
}

.contact form .name{
	justify-content: center;
	text-align: center;
}

.contact form input , .contact form textarea{
	background-color: var(--pal-green);
	border:none;
	border-radius:10px;
	width:60%;
	padding:5px;
	margin:2% auto;
}

.contact form button{
	background:var(--blue);
	border:none;
	border-radius:15px;
	padding:7px;
	margin:3% 25%;
	color:var(--white);
	font-size: 1.8ch;
}

.contact form button:hover{
	opacity:0.6;
}

.contact .social-list{
	background:var(--desaturated-grey);
	font-size:.9ch;
	grid-area: social-list;
	text-align: center;
	justify-content: flex-start;
}

.contact .social-list ul li{
	margin:3% 0;
}
.contact .social-list ul li a i:hover{
	color:var(--desaturated-green);
}


/* APPLICANT PAGE SECTION  */
.hidden{
	display:none;
  }
 .applicant-main{
	 grid-area:content;
 } 
.applicant-main ul{
	display:grid;
	grid-template-columns:1fr;
	grid-auto-rows: minmax(100px , 1fr);
	justify-content:center;
  }
  
.applicant-main ul li{
	  width:90%;
	  margin:1% auto;
	  padding: 2px 5px;
	  border-radius:15px;
	  box-shadow: 0px 0px 7px 5px;
	  justify-content: space-between;
	  transition: width 4s height 2s linear 1s;
}
.applicant-list .edu{
	margin:0 9%;
}

.applicant-list h3{
	color:var(--blue);
	font-size:3.8ch;
}

.applicant-list .a-info{
 	position: relative;
}

.applicant-list .a-info div , .applicant-list form{
	margin: 3% 5%;
}

.applicant-list .ex-msg{
	position:absolute;
	top:2%;
	right:5%;
	opacity:0.7;
}

.applicant-list form button{
	background:var(--blue);
	margin:5% auto;
	width:20%;
	color:var(--white);
	border:none;
	border-radius:25px;
	padding:7px 0;
}

.applicant-list form button:hover{
	opacity: 0.6;
}
